<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Browse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Browse</ion-title>

    </ion-toolbar>
  </ion-header>

<!-- Info Card 
style="--background: url(https://awaadcc.github.io/images/dovshop/home_info.png);""
-->
<ion-card id="info-modal" button="true" style="height:300px; --background: url(https://wayofvod.com/images/dovshop/home_info.png); ">
<ion-card-header>
    <ion-card-subtitle style="color:#9d9fa6;">Getting Started</ion-card-subtitle>
    <ion-card-title style="color:white;">Learn The Basics!</ion-card-title>
  </ion-card-header>

</ion-card>



<!-- Info Modal-->
<ion-modal #infomodal trigger="info-modal" [initialBreakpoint]="1.0" [breakpoints]="[0, 1.0]">
      <ng-template>
      <ion-content>
        <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="modal.dismiss()">
        <ion-fab-button  color="clear">
        <ion-icon name="close-circle"></ion-icon>
        </ion-fab-button>
        </ion-fab>
<ion-card style="height:300px;" color="light">
<ion-card-header>
    <ion-card-subtitle>How to Install Apps</ion-card-subtitle>
    <ion-card-title>Learn How To Sideload</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-text>
      Sideloading is an essential part of installing 3rd party apps.<br>
      Since apple does not allow this we need to use some tools to help us.<br>
      Below is the recommended tool to use.<br>
      AltStore is my personal favorite and is what I prefer due to being able to resign apps automatically over wifi.
    </ion-text>
  </ion-card-content>
</ion-card>
<ion-card color="light">
 <ion-card-header>
    <ion-card-title>Essential Tools</ion-card-title>
  </ion-card-header>
<ion-list lines="inset">
  <ion-item lines="" class="list-border" color="light" style="--padding-top:10px;--padding-bottom:10px;">
  <ion-thumbnail slot="start">
    <img src="https://pbs.twimg.com/profile_images/1177457687014985729/3rleupvs_400x400.png" style="border-radius: 20%; height:85%; width: auto;">
  </ion-thumbnail>
  <ion-label>
    <h2>AltStore</h2>
    <p>Recommended Package Installer</p>
  </ion-label>
  <ion-button fill="solid" strong="true" color="dark" shape="round" size="small" expand="full" slot="end" style="--padding-start:20px; --padding-end:20px;">GET</ion-button>
  </ion-item>
</ion-list>
</ion-card>

<ion-list-header>
Guides
</ion-list-header>
<ion-card color="light">
<ion-card-header>
    <ion-card-subtitle>AltStore</ion-card-subtitle>
    <ion-card-title>How To Use</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-text>
      Using AltStore is fairly simple.<br><br>
      1) Visit the website on computer<br>
      2) Download AltServer and run it<br>
      3) Plug in phone and run install altstore<br>
      4) Enter Apple ID<br>
      5) App will be installed on phone
    </ion-text>
  </ion-card-content>
</ion-card>
<ion-card color="light">
<ion-card-header>
    <ion-card-subtitle>Untrusted App</ion-card-subtitle>
    <ion-card-title>How To Open Sideloaded Apps</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-text>
      Opening Sideloaded Apps is simple.<br><br>
      1) Open the app<br>
      2) Close the untrusted developer popup<br>
      3) Open Settings>General>VPN & Device Management<br>
      4) Press your apple ID<br>
      5) Trust App
    </ion-text>
  </ion-card-content>
</ion-card>
      </ion-content>
      </ng-template>
</ion-modal>

<!-- Sideloading Tools Card -->
<ion-card color="light" style="padding-bottom:20px;">
 <ion-card-header style="padding-bottom: 30px;">
    <ion-card-subtitle>Essential Tools</ion-card-subtitle>
    <ion-card-title>Sideloading Apps</ion-card-title>
  </ion-card-header>
<ion-list lines="inset" *ngFor="let item of toollist"> 
  <ion-item color="light" style="--padding-bottom:10px;">
  <ion-thumbnail slot="start" style="--border-radius: 20%; margin-right:-1px;">
    <ion-img src="{{item.icon}}" style="height:85%; width:85%;"></ion-img>
  </ion-thumbnail>
  <ion-label style=" margin-top: -2px; margin-left:9px;">
    <h2>  {{item.name}}</h2>
    <h4>  {{item.desc}}</h4>
  </ion-label>
  <ion-button (click)="openBrowser(item.url)" class="get-button" fill="solid" strong="true" shape="round" size="small" expand="full" slot="end" style="--padding-start:20px; --padding-end:20px;">GET</ion-button>
  </ion-item>
</ion-list>
</ion-card>


 <!-- Hardcoded Card  -->

<ion-card (click)="setOpen(true)" button="true" style="height:300px; --background: url(https://wayofvod.com/images/dovshop/banner.jpg); ">
<ion-card-header>
    <ion-card-subtitle style="color:#9d9fa6;">Sources Info</ion-card-subtitle>
    <ion-card-title style="color:white;">Unlock it's full potential!</ion-card-title>
  </ion-card-header>

</ion-card>

<!-- Hardcoded Card Modal -->
<ion-modal [initialBreakpoint]="1.0" [breakpoints]="[0, 1.0]" [isOpen]="isModalOpen" canDismiss="true" trigger="open-modal" (willDismiss)="onWillDismiss($event)" [initialBreakpoint]="1.0" [breakpoints]="[0, 1.0]">
      <ng-template>
      <ion-content>
                <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="setOpen(false)">
        <ion-fab-button  color="clear">
        <ion-icon name="close-circle"></ion-icon>
        </ion-fab-button>
        </ion-fab>
          <ion-header collapse="condense">

  </ion-header>

<ion-card color="light">
<ion-card-header>
    <ion-card-subtitle>dovShop Sources</ion-card-subtitle>
    <ion-card-title>How To Use</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-text>
      Using sources is very easy!<br><br>
      1) Open the sources tab<br>
      2) Press the + icon and input a dovShop source URL<br>
      *URL Must begin with http(s):// <br>
      Do Not Add .json at end<br>
      3) If source is valid will show up under default source<br>
      4) Source has been installed!
    </ion-text>
  </ion-card-content>
</ion-card>
<ion-card color="light">
<ion-card-header>
    <ion-card-subtitle>dovShop Sources</ion-card-subtitle>
    <ion-card-title>How To Make</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-text>
      To make sources please follow the template provided in the dovShop github page<br>
      Simply follow the template and once finished upload<br>
      onto a website.<br>
      If you do not have a web server simply use a free hosting service<br>
      or even simpler github pages!<br>
      More detail can be found on the github page
    </ion-text>
  </ion-card-content>
  <ion-item style="padding-bottom: 5px;" color="light" button (click)="openBrowser('https://github.com/AwaadCc/dovshop')">
    <ion-avatar slot="start">
      <img src="https://awaadcc.github.io/images/dovshop/icon.png" />
    </ion-avatar>
    Visit Github Page
  </ion-item>
</ion-card>
</ion-content>
</ng-template>
</ion-modal>



<!-- Top Apps -->
<ion-card color="light" style="padding-bottom:20px;">
 <ion-card-header style="padding-bottom: 30px;">
    <ion-card-subtitle>Trending</ion-card-subtitle>
    <ion-card-title>Top Apps</ion-card-title>
  </ion-card-header>
<ion-list lines="inset" *ngFor="let item of toplist"> 
  <ion-item color="light" style="--padding-bottom:10px;">
  <ion-thumbnail slot="start" style="--border-radius: 20%; margin-right:-1px;">
    <ion-img src="{{item.icon}}" style="height:85%; width:85%;"></ion-img>
  </ion-thumbnail>
  <ion-label style="margin-top:-2px; margin-left:9px;">
    <h2>{{item.name}}</h2>
    <p>{{item.desc}}</p>
  </ion-label>
<ion-button (click)="openBrowser(item.url)" class="get-button" fill="solid" strong="true" shape="round" size="small" expand="full" slot="end" style="--padding-start:20px; --padding-end:20px;">GET</ion-button>
  </ion-item>
</ion-list>
</ion-card>

<!-- Dynamic Cards -->
<ion-card *ngFor="let item of cardlist;">
  <img src="{{item.banner}} " style="display:block;">
<ion-item lines="none" color="light" style="--padding-top:8px;--padding-bottom:8px;">
<ion-thumbnail slot="start">
  <img src="{{item.icon}} " style="border-radius: 20%; height:90%;width: auto;">
</ion-thumbnail>
<ion-label>
  <h2>{{item.name}}</h2>
  <p>{{item.desc}}</p>
</ion-label>
<ion-button (click)="openBrowser(item.url)" class="get-button" fill="solid" strong="true" shape="round" size="small" expand="full" slot="end" style="--padding-start:20px; --padding-end:20px;">GET</ion-button>
</ion-item>
</ion-card>



<!-- All App Cards -->
<ion-card *ngFor="let item of applist;">
  <img src="{{item.searchbanner}} " style="display:block;">
<ion-item lines="none" color="light" style="--padding-top:8px;--padding-bottom:8px;">
<ion-thumbnail slot="start">
  <img src="{{item.image}} " style="border-radius: 20%; height:90%;width: auto;">
</ion-thumbnail>
<ion-label>
  <h2>{{item.name}}</h2>
  <p>{{item.desc}}</p>
</ion-label>
<ion-button (click)="openBrowser(item.url)" class="get-button" fill="solid" strong="true" shape="round" size="small" expand="full" slot="end" style="--padding-start:20px; --padding-end:20px;">GET</ion-button>
</ion-item>
</ion-card>

</ion-content>
